<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q-classification</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <!-- <div class="alert">{{ message }}</div> -->
    {% endfor %}
        <!-- <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}"> -->
        <div><h1>Q-classification</h1></div>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>
<!-- <div class="row">
    <div class="side">
       
    </div>
    <div class="main">
        <a href="{{ url_for('index') }}"></a>
    </div>
</div> -->
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2021 <a href="https://www.cedd.gov.hk/eng/publications/geo/geoguides/geo-g4/index.html">Q-classfication</a></small>
	</footer>
</body>
</html>
